@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-accent: var(--color-zinc-800);
    --color-accent-content: var(--color-zinc-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-zinc-800);
    }
}


@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

.text-mute {
    @apply text-zinc-400 dark:text-zinc-400;
}

.space-y-main {
    @apply space-y-8;
}

/*[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}*/

/* input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-accent-foreground;
} */

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* .bg-archived {
    opacity: 1;
    background-size: 5px 5px;
    background-image: repeating-linear-gradient(45deg, #fff 0, pink 2px, #fff 0, #fff 50%);
} */

/* .bg-archived {
    @apply bg-stone-100;
} */

table[data-flux-table] > thead:first-child th:first-child, table[data-flux-table] tbody td:first-child {
    @apply pl-3;
}

table[data-flux-table] > thead:first-child th:last-child, table[data-flux-table] tbody td:last-child {
    @apply pr-3;
}

/* button,
[data-flux-button],
[data-flux-command-item],
[data-flux-radio-cards],
[data-flux-switch],
[data-flux-table-sortable] {
    @apply cursor-pointer;
} */

[data-flux-text] {
    @apply text-sm/6;
}

/* .modal {
    @apply w-auto max-w-[475px] min-[525px]:mx-auto min-[0px]:mx-4;
} */

.tooltip {
    @apply max-w-[20rem] space-y-2;
}

ui-select#search-club {
    ui-option div {
        @apply hidden;
    }
    button {
        @apply hidden;
    }
    input {
        @apply pr-3;
    }
}

/* dialog {
    @apply w-auto max-w-[576px] min-[624px]:mx-auto min-[0px]:mx-6;
} */

div[data-flux-breadcrumbs] {
    @apply flex-wrap -mt-2;

    div[data-flux-breadcrumbs-item] {
        @apply mt-2 whitespace-nowrap;
    }
}